<!DOCTYPE html>
<html>

<head>
	<title>
		New Ricetta
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>

	</header>
	<div><a href="/"><img src="/siw-logo.jpg" width="10%" /></a></div>

	<h1>Aggiungi la tua ricetta</h1>
	<form th:action="@{/ricetta}" method="POST" th:object="${ricetta}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<label>Titolo:</label>
			<span><input type="text" th:field="${ricetta.title}" /></span>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
			</span>
		</div>
		<div>
			<label>Descrizione:</label>
			<span><input type="text" th:field="${ricetta.descriptionRicetta}" /></span>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
			</span>
		</div>
		<div>
			<span>Immagine<input type="file" name="file" multiple></input></span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>