<!DOCTYPE html>
<html>

<head>
	<title>
		New Ingrediente
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>

	</header>
	<div><a href="/"><img src="/siw-logo.jpg" width="10%" /></a></div>

	<h1>Aggiungi la tua ricetta</h1>
	<form th:action="@{/formIngrediente}" method="POST" th:object="${ingrediente}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<label>Nome:</label>
			<span><input type="text" th:field="${ingrediente.name}" /></span>
			<span th:if="${#fields.hasErrors('ingrediente.name')}" th:errors="*{ingrediente.name}">
			</span>
		</div>
		<div>
			<label>Categoria:</label>
			<span><input type="text" th:field="${ingrediente.category}" /></span>
			<span th:if="${#fields.hasErrors('ingrediente.category')}" th:errors="*{ingrediente.category}">
			</span>
		</div>
		
		<div>
			<label>Calorie:</label>
			<span><input type="text" th:field="${ingrediente.calories}" /></span>
			<span th:if="${#fields.hasErrors('ingrediente.calories')}" th:errors="*{ingrediente.calories}">
			</span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>