<!DOCTYPE html>
<html>

<head>
	<title>Ingredienti</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Ingredienti che soddisfano i requisiti</h1>
	<div th:if="${ingredienti.isEmpty()}">Non ci sono ingredienti che soddisfano i requisiti</div>
	<ul th:if="${!ingredienti.isEmpty()}">
		<li th:each="ingrediente : ${ingredienti}">
			<a href="ingrediente.html" th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}"
				th:text="${ingrediente.name} + ' (' + ${ingrediente.alcoholContent}+')'">Carbonara (totti)</a>
		</li>
	</ul>
</body>

</html>