<!DOCTYPE html>
<html>

<head>
	<title>Ricette</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

	<div><a href="/"><img src="/siw-logo.jpg" width="10%"  /></a></div>
	<h1>Ricette che soddisfano i requisiti</h1>
	<div th:if="${ricette.isEmpty()}">Non ci sono film che soddisfano i requisiti</div>
	<ul th:if="${!ricette.isEmpty()}">
		<li th:each="ricetta : ${ricette}">
			<a href="ricetta.html" th:href="@{'/ricetta' + '/' + ${ricetta.id}}"
				th:text="${ricetta.title} + ' (' + ${ricetta.preparationTime}+')'">Carbonara (20minuti)</a>
		</li>
	</ul>
</body>

</html>