<!DOCTYPE html>
<html>

<head>
	<title>
		Ricetta
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>

	</header>
	<div><a href="/"><img src="/siw-logo.jpg" width="10%"  /></a></div>
		 <h1>Dettagli Ricetta</h1>
    <div th:if="${ricetta}">
        <span th:text="${ricetta.title}">Carbonara</span>
        <span th:text="'(' + ${ricetta.descriptionRicetta} + ')'">apri justeat</span>
        	<div th:each="img : ${ricetta.pictures}">
    		<!-- Immagine-->
    		<img th:src="'data:image;base64,'+${img.getImgData()}"></img>
		</div>
    </div>
    <div th:unless="${ricetta}">Non esiste</div>
	</body>
</html>