<!DOCTYPE html>
<html>

<head>
	<title>Cerca Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Cerca ingrediente per gradazione alcolica</h1>
	<form th:action="@{/searchIngrediente}" method="post">
		<div>Seleziona il minimo: <input type="text" th:value="${contentMin}" name="contentMin" />
		</div>
		<div>Seleziona il massimo: <input type="text" th:value="${contentMax}" name="contentMax" />
		</div>
		<div><input type="submit" /></div>
	</form>
</body>

</html>