<!DOCTYPE html>
<html>

<head>
	<title>
		Ingrediente
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Dettagli Ingrediente</h1>
	<div th:if="${ingrediente}">
		<span th:text="${ingrediente.name}">Zucchina</span>
		<span th:text="'(' + ${ingrediente.category} + ')'">(Contorno)</span>
		<div class="container">
			<div th:each="img : ${ingrediente.pictures}">
				<span th:if="${img.getImgData()}!=''">

					<!-- Immagine-->
					<img th:src="'data:image;base64,'+${img.getImgData()}"></img>
				</span>

			</div>
		</div>
	</div>
	<div th:unless="${ingrediente}">Non esiste</div>
</body>

</html>