<!DOCTYPE html>
<html>

<head>
	<title>
		Ricetta
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Dettagli Ricetta</h1>
	<div th:if="${ricetta}">
		<div class="undertitle" th:text="${ricetta.title}">Carbonara</div>
		<div>INGREDIENTI:</div>
		<div  class="span-list" th:each="rl : ${ricetta.ricettaLines}">-
			<span th:text="${rl.ingrediente.name}">test</span>
		</div>
		<strong th:text="'Autore: ' + ${ricetta.author.username} ">apri justeat</strong>
		<div class="container">
			<div th:each="img : ${ricetta.pictures}">
				<span th:if="${img.getImgData()}!=''">

					<!-- Immagine-->
					<img th:src="'data:image;base64,'+${img.getImgData()}"></img>
				</span>

			</div>
		</div>
		<div th:text="${ricetta.descriptionRicetta}"></div>
		<h2>Recensioni</h2>
		<ul>
			<li th:each="review: ${ricetta.reviews}">
				<span th:text="${review.title} + ' (' + ${review.author.username} + ')'">Bello spreco! (rossi)</span>
				<a th:href="@{'/review' + '/' + ${review.id}}">Visualizza</a>
				<span th:if="${#request.userPrincipal}">
					<span th:if="${review.author.username}==${#request.userPrincipal.principal.username}">
						<a th:href="@{'/default/updateReview' + '/' + ${review.id}}">Modifica</a>
					</span>
					<a th:if="${role}=='ADMIN'" th:href="@{'/admin/deleteReview'+'/'+${review.id}}"> Cancella</a>
				</span>

			</li>
		</ul>
		<div th:if="${#request.userPrincipal}">
			<div th:if="${flag}==true" th:text="${text}">Già presente</div>
			<a th:if="${flag}!=true" th:href="@{'/default/formNewReview/' + ${ricetta.id}}">Inserisci una recensione</a>
		</div>
	</div>
	<div th:unless="${ricetta}">Non esiste</div>
</body>

</html>