<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Ingredienti</h1>
	<div th:if="${ingredienti==null || ingredienti.isEmpty()}">Non ci sono ingredienti nel sistema</div>
	<ul>
		<li th:each="ingrediente : ${ingredienti}">
			<span th:text="${ingrediente.name} + ' (' + ${ingrediente.category} + ')'">Negroni (totti)</span>
			<a th:href="@{'/admin/UpdateIngrediente' + '/' + ${ingrediente.id}}">Aggiorna</a>
			<a th:href="@{'/admin/deleteIngrediente' + '/' + ${ingrediente.id}}">Cancella</a>
		</li>
	</ul>
</body>

</html>