<!DOCTYPE html>
<html>

<head>
	<title>
		New Ricetta
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Aggiungi la tua ricetta</h1>
	<form th:action="@{/ricetta}" method="POST" th:object="${ricetta}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<label>Titolo:</label>
			<span><input type="text" th:field="${ricetta.title}" /></span>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
			</span>
		</div>
		<label>Portata:</label>
		<span>
			<select th:field="${ricetta.portata}">
				<option value="0">Scegli</option>
				<option th:each="portata : ${portate}" th:value="${portata}" th:text="${portata}"></option>
			</select>
		</span>

		<div>
			<span>Immagine <input type="file" name="file" multiple></input></span>
		</div>
		<!--AGGIUNGO CAMPI EXTRA DI CHIACCHIERE-->
		<div>
			<span><button type="submit">Procedi agli ingredienti</button></span>
		</div>
	</form>
</body>

</html>