<!DOCTYPE html>
<html>

<head>
	<title>
		New Ricetta
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Aggiungi la tua descrizione</h1>
	<form th:action="@{/default/updateDescRicetta}+'/'+${ricetta.id}" method="POST" th:object="${ricetta}">

		<div>
			<label>Descrizione:</label>
			<div><textarea rows="5" cols="40" type="text" th:field="${ricetta.descriptionRicetta}" /></div>
			<span th:if="${#fields.hasErrors('descriptionRicetta')}" th:errors="*{descriptionRicetta}">
			</span>
		</div>
		<div>
			<span><button type="submit">Termina</button></span>
		</div>
	</form>
</body>

</html>