<!DOCTYPE html>
<html>

<head>
	<title>
		SiwRi - Gestione Film
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Gestione Film</h1>
	<div>
		<a href="/default/formNewRicetta">Inserisci una nuova ricetta</a>
	</div>
	<div>
		<a href="/admin/manageRicette">Gestisci le Ricette</a>
	</div>
	<div>
		<a href="/formSearchRicette">Cerca ricette per ingredienti</a>
	</div>
</body>

</html>