<!DOCTYPE html>
<html>

<head>
	<title>Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Ricetta</h1>
	<div th:if="${ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="ricetta : ${ricette}">
			<span th:text="${ricetta.title} + ' (' + ${ricetta.author.username} + ')'">Negroni (totti)</span>
			<span th:class="denied" th:if="${ricetta.isValidated}==false">Bocciata</span>
			<span th:class="accepted" th:if="${ricetta.isValidated}==true">Approvata</span>
			<span th:class="to-define" th:if="${ricetta.isValidated}==null">Da verificare</span>

			<span th:if="${ricetta.isValidated}==null">
				<a th:href="@{'/admin/validateRicetta' + '/' + ${ricetta.id}}">Valida</a>
			</span>
			<a th:href="@{'/default/UpdateRicetta' + '/' + ${ricetta.id}}">Aggiorna</a>
			<a th:href="@{'/default/deleteRicetta' + '/' + ${ricetta.id}}">Cancella</a>
		</li>
	</ul>
</body>

</html>