<!DOCTYPE html>
<html>

<head>
	<title>
		New Ingrediente
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>


	<div th:replace="fragments/base.html :: indexImg"></div>
	<h1>Aggiungi il tuo ingrediente</h1>
	<form th:action="@{/updateIngrediente}" method="POST" th:object="${ingrediente}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<label>Nome:</label>
			<span><input type="text" th:field="${ingrediente.name}" /></span>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{ingrediente.name}">
			</span>
		</div>
		<div>
			<label>Categoria:</label>
			<span>
				<select th:field="${ingrediente.category}">
					<option value="0">Scegli</option>
					<option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
				</select>
			</span>
		</div>

		<div>
			<label>%ALC:</label>
			<span><input type="text" th:field="${ingrediente.alcoholContent}" /></span>
			<span th:if="${#fields.hasErrors('alcoholContent')}" th:errors="*{ingrediente.alcoholContent}">
			</span>
		</div>
		<div>

			<span>Immagine <input type="file" name="file" multiple></input></span>
		</div>
		<div class="container">
			<div th:each="img : ${ricetta.pictures}">
				<span th:if="${img.getImgData()}!=''">
					<div><a th:href="@{'/default/deletePictureFromRicetta/' + ${ricetta.id} + '/' + ${img.id}}">Remove
							picture</a></div>

					<!-- Immagine-->
					<img th:src="'data:image;base64,'+${img.getImgData()}"></img>
				</span>

			</div>
		</div>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>